* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body,
html {
    overflow-x: hidden;
}

body {
    font-family: 'Comfortaa', cursive;
    margin: 0;
    color: aliceblue;
}

a {
    text-decoration: none;
}

header {
    width: 100vw;
    height: 100vh;
    background-image: url(images/world.jpg);
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
}

.header-content {
    text-align: center;
}

.header-content h1 {
    margin-bottom: 50px;
    font-size: 7vmin;
}

.header-content h2 {
    font-size: 4vmin;
}

.ctn {
    background-color: aquamarine;
    color: grey;
    padding: 10px 30px;
    border-radius: 10px;
    font-size: 20px;
    font-weight: 600;
}

.line {
    height: 4px;
    width: 150px;
    background-image: linear-gradient(orangered, pink);
    border-radius: 5px;
    margin: 0 auto;
}

header h2 {
    margin: 40px 0;
}

header h1 {
    margin: 40px 0;
}

.nav-links a {
    list-style: none;
    color: aliceblue;
}

.navbar {
    top: 0;
    position: absolute;
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding-top: 20px;
}

.navbar li {
    display: inline;
    margin: 0 8px;
}

section {

    width: 100%;
    margin: 80px auto;
}

.title {
    text-align: center;
    font-size: 4vmin;
}

.title h1 {
    color: grey;
    margin: 30px 0;
}

.upcoming-events {
    display: flex;
    width: 100%;
}

.upcoming-events img {
    margin-top: 60px;
    width: 80%;
    padding-left: 20%;
}

.upcoming-events h3 {
    margin: 40px 0;
    color: grey;
    text-align: center;
}

.upcoming-events p {
    color: grey;
    /* padding: 0 ; */
    padding: 0 20%;
    text-align: justify;
    margin-bottom: 50px;
}

.everest .ctn,
.walk .ctn {

    margin: 0 41.5%;
    border-radius: 5px;
}